#drawCanvas {
    height: 700;
    width: 700;
    border: black solid 1px;
    display: inline-block;
}

body {
    margin: 0;
}
.hover {
    fill: #aaeeee;
}
.clicked {
    fill: #eeaaaa;
    background-color: #eeaaaa;
}

.line-sep {
    border: 2px solid white;
    border-radius: 3px;
    margin: 10px 0 10px;
}

#track-menu {
    height: 500;
    width: 300;
    border: 10px rgba(0,172, 237, 1) solid; 
    border-radius: 10px;
    display: inline-block;
    top: 0px;
    position: absolute;
    background-color: rgba(0, 172, 237, 1);
}

#track-types {
    height: 480;
    width: 280;
    border: 10px #69d6ff solid;
    border-radius: 10px;
    display: inline-block;
    top: 0px;
    position: absolute;
    background-color: #69d6ff;
}

#track-types {
    height: 480;
    width: 280;
    border: 10px #69d6ff solid;
    border-radius: 10px;
    display: inline-block;
    top: 0px;
    position: absolute;
    background-color: #69d6ff;
}

.menu-col {
    display: inline-block;
    width: 75px;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
    vertical-align: top;
}

.menu-header {
    border: 2px solid white;
    border-radius: 3px;
    margin-bottom: 5px;
    font-family: "Impact", Charcoal, sans-serif;
    color: white;
    font-size: 20px;

}

.item-list {
    border: 2px solid white;
    border-radius: 3px;
}

.item-wrapper {
    border: 2px solid white;
    border-radius: 3px;
    margin: 5px auto 5px;
    height: 65px;
    width: 65px;
    position: relative;
}

.type-select {
    height: 10px;
    width: 10px;
    border: 2px solid;
    border-radius: 3px;
    position: absolute;
}

.blue-engine {
    background-color: navy;
    border-color: navy;
}

.blue-car {
    right: 0;
    border-color: navy;
}

.gold-engine {
    background-color: gold;
    border-color: gold;
}

.gold-car {
    right: 0;
    border-color: gold;
}